@{
	string? sessionName = Context.Session.GetString("_clientname");
	string? sessionFullName = Context.Session.GetString("_clientfullname");
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CINEMAX - Movie Theatre</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" asp-append-version="true">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/elegant-icons.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/plyr.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/nice-select.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" asp-append-version="true">
    @RenderSection("Styles", required: false)
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo normal__breadcrumb__text">
                        <a asp-action="Index" asp-controller="Home">
                            <h3 style="color:white !important">CINE<span style="color:darkred !important">MAX</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                                <li>
                                    <a href="#">Phim<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a asp-controller="Movie" asp-action="NowShowing">Phim đang chiếu</a></li>
                                        <li><a asp-controller="Movie" asp-action="ComingSoon">Phim sắp chiếu</a></li>
                                    </ul>
                                </li>
                                <li><a asp-action="Index" asp-controller="Cinema">Rạp</a></li>
                                <li>
                                    <a asp-action="Index" asp-controller="Article">Tin mới</a>
                                </li>
                                <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                                @{
                                    if (!String.IsNullOrEmpty(sessionName))
                                    {
                                        <li>
                                            <a href="#">Xin chào, @sessionFullName<span class="arrow_carrot-down"></span></a>
                                            <ul class="dropdown">
                                                <li><a asp-action="UpdateProfile" asp-controller="Profile">Cập nhật thông tin</a></li>
                                                <li><a asp-action="ChangePassword" asp-controller="Profile">Đổi mật khẩu</a></li>
                                                <li><a asp-action="Index" asp-controller="ClientBooking">Thông tin đặt vé</a></li>
                                                <li><a asp-action="Logout" asp-controller="Home">Đăng xuất</a></li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#">Thành viên<span class="arrow_carrot-down"></span></a>
                                            <ul class="dropdown">
                                                <li><a asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
                                                <li><a asp-controller="Account" asp-action="Signup">Đăng ký thành viên</a></li>
                                            </ul>
                                        </li>
                                    }
                                }
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
	<main role="main" class="container">
		@RenderBody()
	</main>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a asp-action="Index" asp-controller="Home"><h3 style="color:white !important">CINE<span style="color:darkred; !important">MAX</span></h3></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            <li><a asp-action="NowShowing" asp-controller="Movie">Phim</a></li>
                            <li><a asp-action="Index" asp-controller="Cinema">Thông tin rạp</a></li>
                            <li><a href="#">Tin mới & Ưu đãi</a></li>
                            <li><a asp-action="Index" asp-controller="Contact">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p style="color:white !important">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> by Huỳnh Công Hưng
                    </p>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="~/assets/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/player.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/mixitup.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.slicknav.js" asp-append-version="true"></script>
    <script src="~/assets/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/main.js" asp-append-version="true"></script>
	@await Component.InvokeAsync("Notyf")
	@RenderSection("Scripts", required: false)
</body>

</html>


