
@{
    ViewData["Title"] = "ConfirmPaymentClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="anime__details__title">
                    <h4style="color:white">Thanh toán hoàn tất bằng ví Momo, cảm ơn bạn đã sử dụng dịch vụ đặt vé của CINEMAX</h4>
                    <br />
                    <h4 style="color:white">Xem lại các thông tin đặt vé của bạn <a asp-action="Index" asp-controller="ClientBooking">tại đây</a></h4>
                </div>
                <div class="anime__details__btn">
                    <a class="follow-btn" asp-action="Index" asp-controller="Home">Trở về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</section>

