@model CinemaBookingSystem.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Article/</span> Edit</h4>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Chỉnh sửa bài viết</h5>
                    <small class="text-muted float-end text-danger">* là thông tin bắt buộc</small>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit" enctype="multipart/form-data">
                        <div class="row mb-3" hidden="hidden">
                            <label class="col-sm-2 col-form-label" for="id">ArticleId<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for=ArticleId class="form-control" id="id" />
                                <span asp-validation-for="ArticleId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3" hidden="hidden">
                            <label class="col-sm-2 col-form-label" for="id">CreatedBy<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for=CreatedBy class="form-control" id="id" />
                                <span asp-validation-for="CreatedBy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3" hidden="hidden">
                            <label class="col-sm-2 col-form-label" for="id">CreatedAt<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="datetime" asp-for=CreatedDate class="form-control" id="id" />
                                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="article-title">Tiêu đề bài viết<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="ArticleTitle" class="form-control" id="article-title" />
                                <span asp-validation-for="ArticleTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="article-img">Ảnh bài viết</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="ArticleImage" class="form-control" id="article-img" hidden="hidden" />
                                <input type="file" name="postedImage" class="form-control" id="article-img" accept="image/png, image/jpg, image/jpeg" />
                                <span asp-validation-for="ArticleImage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="article-vid">Video bài viết</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="ArticleVideo" class="form-control" id="article-vid" hidden="hidden" />
                                <input type="file" name="postedVideo" class="form-control" id="article-vid" accept="video/mp4" />
                                <span asp-validation-for="ArticleVideo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="description">Nội dung bài viết<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <textarea asp-for="ArticleContent" class="form-control" id="description" cols="4"></textarea>
                                <span asp-validation-for="ArticleContent" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-warning w-100" value="Thêm mới">Chỉnh sửa</button> &ensp;
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <a asp-action="Index"> <input type="submit" class="btn btn-primary" value="Trở về danh sách" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>