
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Error -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">404 Error, Page Not Found :(</h2>
        <p class="mb-4 mx-2">Oops! 😖 Không tìm thấy được URL mà bạn yêu cầu.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay về trang chủ</a>
        <div class="mt-3">
            <img src="../assets/img/illustrations/page-misc-error-light.png"
                 alt="page-misc-error-light"
                 width="500"
                 class="img-fluid"
                 data-app-dark-img="illustrations/page-misc-error-dark.png"
                 data-app-light-img="illustrations/page-misc-error-light.png" />
        </div>
    </div>
</div>
<!-- /Error -->

