@model CinemaBookingSystem.ViewModels.UserViewModel;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User/</span> Delete</h4>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Mọi thao tác không thể hoàn tác, bạn có chắc chắn muốn xóa người dùng @Html.DisplayFor(model => model.Username) ra khỏi danh sách?</h5>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Delete" asp-controller="User" asp-route-id="@Model.UserId">
                        <div class="row justify-content-end">
                            <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
                        </div>
                    </form>
                    <hr />
                    <a asp-action="Index" asp-controller="User"> <input type="submit" class="btn btn-primary" value="Trở về danh sách" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

