@model CinemaBookingSystem.ViewModels.UserViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="@("../assets/img/banner.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Cập nhật thông tin người dùng</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->
<!-- Signup Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login__form">
                    <h3 style="color:white !important">Thông tin người dùng</h3>
                    <form asp-action="UpdateProfile" method="post">
                        <div class="input__item" hidden>
                            <input type="number" asp-for="UserId" placeholder="Nhập tài khoản của bạn..." required>
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item" hidden>
                            <input type="text" asp-for="Username" placeholder="Nhập tài khoản của bạn..." required>
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" asp-for="FullName" placeholder="Nhập họ tên của bạn..." required>
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item" hidden>
                            <input type="text" asp-for="Password" placeholder="Nhập mật khẩu của bạn..." required>
                            <span class="icon_lock"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" asp-for="Email" placeholder="Nhập địa chỉ email của bạn..." required>
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" asp-for="PhoneNumber" placeholder="Nhập số điện thoại của bạn..." required>
                            <span class="icon_phone"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" asp-for="Address" placeholder="Nhập địa chỉ của bạn..." required>
                            <span class="icon_house"></span>
                        </div>
                        <div class="input__item">
                            <input type="date" asp-for="DOB" required>
                            <span class="icon_gift"></span>
                        </div>
                        <div class="input__item" hidden>
                            <input type="numer" asp-for="RoleId" value="3" required>
                        </div>
                        <button type="submit" class="site-btn">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup Section End -->

