
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="anime__details__title">
                    <h3>Forbidden</h3>
                    <span>Opps! Quyền truy cập của bạn bị từ chối</span>
                </div>
                <div class="anime__details__btn">
                    <br />
                        <a class="follow-btn" asp-action="Index" asp-controller="Home"><i class="fa fa-film"></i> Trở về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</section>

