@model CinemaBookingSystem.ViewModels.LoginViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="@("../assets/img/banner.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Đăng nhập thành viên</h2>
                    <p>Chào mừng đến với CINE<span style="color:red !important">MAX</span>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->
<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3 style="color:white !important">Đăng nhập</h3>
                    <form asp-action="Login" method="post">
                        <div class="input__item">
                            <input type="text" asp-for="Username" placeholder="Nhập tài khoản của bạn..." required>
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" asp-for="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required>
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Đăng nhập</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__register">
                    <h3>Bạn vẫn chưa có tài khoản thành viên?</h3>
                    <a asp-controller="Account" asp-action="Signup" class="primary-btn">Đăng ký ngay</a>
                </div>
            </div>
        </div>
        <div class="login__social">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <span>hoặc</span>
                        <ul>
                            <li><a asp-action="GoogleLogin" asp-controller="Account" class="google"><i class="fa fa-google"></i> Đăng nhập với tài khoản Google</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Section End -->
