@model CinemaBookingSystem.ViewModels.MovieViewModel;
@{
    ViewData["Title"] = "TrailerWatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Trang chủ</a>
                    <a asp-action="NowShowing" asp-controller="Movie">Phim</a>
                    <a asp-action="Details" asp-controller="Movie" asp-route-id="@Model.MovieId">@Model.MovieName</a>
                    <span>@Model.MovieName Trailer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player text-center">
                    <iframe height="600" width="1000" src="@Model.TrailerURL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->

