@model CinemaBookingSystem.ViewModels.CinemaViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int? currentId = Context.Session.GetInt32("currentCinemaId");
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Cinema/</span> Edit</h4>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Chỉnh sửa rạp phim</h5>
                    <small class="text-muted float-end text-danger">* là thông tin bắt buộc</small>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit" asp-controller="Cinema">
                        <div class="row mb-3" hidden="hidden">
                            <label class="col-sm-2 col-form-label" for="cinema-id">CinemaId<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for=CinemaId class="form-control" id="cinema-id" readonly="readonly" />
                                <span asp-validation-for="CinemaId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="cinema-name">Tên rạp<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for=CinemaName class="form-control" id="cinema-name" placeholder="CGV Trà Vinh..." />
                                <span asp-validation-for="CinemaName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="hotline">Hotline<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for=Hotline class="form-control" id="hotline" placeholder="0975760808..." />
                                <span asp-validation-for="Hotline" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="fax">FAX<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for=FAX class="form-control" id="fax" placeholder="840000..." />
                                <span asp-validation-for="FAX" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="address">Địa chỉ<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Address" class="form-control" id="address" placeholder="53 Lý Tự Trọng K4 P4..." />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="city-select">Thành phố<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <select id="city-select" class="form-select" asp-for="City">
                                    <option value="An Giang">An Giang</option>
                                    <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                    <option value="Bắc Giang">Bắc Giang</option>
                                    <option value="Bắc Kạn">Bắc Kạn</option>
                                    <option value="Bạc Liêu">Bạc Liêu</option>
                                    <option value="Bắc Ninh">Bắc Ninh</option>
                                    <option value="Bến Tre">Bến Tre</option>
                                    <option value="Bình Định">Bình Định</option>
                                    <option value="Bình Dương">Bình Dương</option>
                                    <option value="Bình Phước">Bình Phước</option>
                                    <option value="Bình Thuận">Bình Thuận</option>
                                    <option value="Bình Thuận">Bình Thuận</option>
                                    <option value="Cà Mau">Cà Mau</option>
                                    <option value="Cao Bằng">Cao Bằng</option>
                                    <option value="Đắk Lắk">Đắk Lắk</option>
                                    <option value="Đắk Nông">Đắk Nông</option>
                                    <option value="Điện Biên">Điện Biên</option>
                                    <option value="Đồng Nai">Đồng Nai</option>
                                    <option value="Đồng Tháp">Đồng Tháp</option>
                                    <option value="Đồng Tháp">Đồng Tháp</option>
                                    <option value="Gia Lai">Gia Lai</option>
                                    <option value="Hà Giang">Hà Giang</option>
                                    <option value="Hà Nam">Hà Nam</option>
                                    <option value="Hà Tĩnh">Hà Tĩnh</option>
                                    <option value="Hải Dương">Hải Dương</option>
                                    <option value="Hậu Giang">Hậu Giang</option>
                                    <option value="Hòa Bình">Hòa Bình</option>
                                    <option value="Hưng Yên">Hưng Yên</option>
                                    <option value="Khánh Hòa">Khánh Hòa</option>
                                    <option value="Kiên Giang">Kiên Giang</option>
                                    <option value="Kon Tum">Kon Tum</option>
                                    <option value="Lai Châu">Lai Châu</option>
                                    <option value="Lâm Đồng">Lâm Đồng</option>
                                    <option value="Lạng Sơn">Lạng Sơn</option>
                                    <option value="Lào Cai">Lào Cai</option>
                                    <option value="Long An">Long An</option>
                                    <option value="Nam Định">Nam Định</option>
                                    <option value="Nghệ An">Nghệ An</option>
                                    <option value="Ninh Bình">Ninh Bình</option>
                                    <option value="Ninh Thuận">Ninh Thuận</option>
                                    <option value="Phú Thọ">Phú Thọ</option>
                                    <option value="Quảng Bình">Quảng Bình</option>
                                    <option value="Quảng Bình">Quảng Bình</option>
                                    <option value="Quảng Ngãi">Quảng Ngãi</option>
                                    <option value="Quảng Ninh">Quảng Ninh</option>
                                    <option value="Quảng Trị">Quảng Trị</option>
                                    <option value="Sóc Trăng">Sóc Trăng</option>
                                    <option value="Sơn La">Sơn La</option>
                                    <option value="Tây Ninh">Tây Ninh</option>
                                    <option value="Thái Bình">Thái Bình</option>
                                    <option value="Thái Nguyên">Thái Nguyên</option>
                                    <option value="Thanh Hóa">Thanh Hóa</option>
                                    <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>ế
                                    <option value="Tiền Giang">Tiền Giang</option>
                                    <option value="Trà Vinh">Trà Vinh</option>
                                    <option value="Tuyên Quang">Tuyên Quang</option>
                                    <option value="Vĩnh Long">Vĩnh Long</option>
                                    <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                    <option value="Yên Bái">Yên Bái</option>
                                    <option value="Phú Yên">Phú Yên</option>
                                    <option value="Tp.Cần Thơ">Tp.Cần Thơ</option>
                                    <option value="Tp.Đà Nẵng">Tp.Đà Nẵng</option>
                                    <option value="Tp.Hải Phòng">Tp.Hải Phòng</option>
                                    <option value="Tp.Hà Nội">Tp.Hà Nội</option>
                                    <option value="Thành phố Hồ Chí Minh">Thành Phố Hồ Chí Minh</option>
                                </select>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div> 
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="region-select">Miền<span class="text-danger"> *</span></label>
                            <div class="col-sm-10">
                                <select id="region-select" class="form-select" asp-for="Region">
                                    <option value="Miền Bắc">Miền Bắc</option>
                                    <option value="Miền Trung">Miền Trung</option>
                                    <option value="Miền Nam">Miền Nam</option>
                                </select>
                                <span asp-validation-for="Region" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-warning w-100" value="Lưu thông tin">Lưu thông tin</button> &ensp;
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <a asp-action="Index" asp-controller="Cinema" asp-route-id="@currentId"> <input type="submit" class="btn btn-primary" value="Trở về danh sách" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

